body{


  color:black;

}
.toolbar {
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  background:  rgba(0,0,0,0.2);
  height: 56px;
}

.toolbar__navigation {
  margin-top: 10px;
width: 60%;
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 1rem;
}
.spacer {
  flex: 1;
}

.toolbar_navigation-items ul {
  list-style: none;
  padding: 0;
  display: flex;
}

.toolbar_navigation-items li {
  padding: 0 0.5rem;
}

.toolbar_navigation-items a {
  font-family: 'Varela Round', sans-serif;
font-weight: bolder;
  font-size: 20px;
  color: white;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.toolbar_navigation-items a:hover,
.toolbar_navigation-items a:active {
  color: rgb(255,0,61);
  
}
/* nav bar hover after line as div */
#line{
  display: none!important;
  margin-top: 25px;
  position: absolute;
  background: white;
  width: 73px;
  height: 2.19px;
  transition:all 0.4s ease-in-out;
}













@media (max-width: 768px) {
  .toolbar_navigation-items ul {
    display: none;
  }
}

@media (min-width: 769px) {
  .toolbar__toggle-button {
  }


}





/* mode */
.mode{
  display: none!important;
  left: 200%;
position: relative;
top: -7px;
  height: 20px;
  width: 60px;
  border-radius: 10px;
  background: grey;
  border: none;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
}


.modecircle{
margin-left: -2px;
  border-radius: 60%;
  position:absolute;
  height: 30px;
  width: 30px;
  background: white;
   transform: translateX(22px);
  transition: transform 0.5s ease-in-out;
}


/* transform:translateX(21px); */
/*  */

.li{
  margin-left: 20px;

}

.li{
  align-items: center;
 display: flex;
 justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 30px;
  font-size:4rem ;
  position: relative;
}

 .li a::after{
  display: flex;
  align-items: center;
justify-content: center;
  position: absolute;
  /* make me +ve or negative to change  */
  top: 85%;
content: "";
height: 100%;
width: 200%;
background: white;
transition: all 0.6s ease-in-out;
transform: translateX(-150%);

}

.li a:hover:after{
transform: translateX(-10%);
  
}
