.side-drawer {
  height: 100%;
  background: rgba(245, 245, 245, 0.1);
  box-shadow: 1px 0px 7px rgba(0, 0,0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  max-width: 400px;
  z-index: 200000000000;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.side-drawer.open {
  transform: translateX(0);
}

.side-drawer ul {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  margin-left: -2rem;
}

.side-drawer li {
  margin: 0.8rem 0;
  text-align: center;
}

.side-drawer a {
  
color: white;

  text-decoration: none;
  font-size: 1.5rem;
}

.side-drawer a:hover,
.side-drawer a:active {
  color: grey;
}

@media (min-width: 769px) {
    .side-drawer {
    }
}
